@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}


body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text(14px);
}


.link--text {
    @include text(16px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(22px);
}

.text--small {
    @include text(14px);
}

.title--small--segundo {
    @include title(22px);
}

.title--small--segundo {
    @include text(30px);
}


.button {
    display: block;
    width: 250px;
    height: 45px;
    font-size: 16px;
    color: #fff; 
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 2vw; 
    padding: 12px; /* Ajuste de padding para melhorar o clique do botão */
    border: none; /* Remover borda */
    cursor: pointer; /* Deixa o cursor mais amigável */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para o fundo */
    margin-left: auto;
    margin-right: auto; /* Centraliza o botão horizontalmente */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}
.button:hover {
    background-color: #5201cc; /* Cor do botão ao passar o mouse */
}